@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
}
.skills{
	padding: 0 15px;
}

.progress {
	background-color: #d8d8d8;
	/* border-radius: 20px; */
	position: relative;
	/* margin: 15px 0; */
	height: 20px;
	width: 100%;
}

.progress-done {
	/* background: linear-gradient(to left, #F2709C, #FF9472); */
	/* box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C; */
	/* border-radius: 20px; */
    background-color: yellow;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
@media screen and (max-width:650px){
	.skills{
		padding: 0;
		
	}
}